a {
  color: black;
}

.well {
  background-color: white;
  border: none;
  margin-bottom: 10px;
  padding-left: 0px;
}

.hero {
  width: 100%;
  height: auto;
}


#comment-container {
  height: 200px;
  overflow: scroll;
}

.comment {
  background-color: rgba(211, 211, 211, 0.15);
}

#comment-name {
  font-style: italic;
  font-size: 1.2em;
}
